# Email Configuration
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-email-password

# Server Configuration
PORT=4000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/ticket   # Replace with your MongoDB URI
JWT_SECRET=your-jwt-secret-key                  # Secret key for JWT authentication

# Other Configurations
NODE_ENV=development


OFFLINE_THRESHOLD_HOURS=12
